/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-gray: #4d4d4d;
  --color-gray: #616161;
  --color-light-gray: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #ff7e00;
  --color-dark-orange: #f26100;
  --color-black: #000000;
  --color-green1: #2e7644;
  --color-green2: #396840;
  --color-green4: #46563c;
  --color-green5: #647c64;
  --color-gray2: #3d3d3d;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Body */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  /* a태그 밑에 있는 밑줄 제거 */
  text-decoration: none;
  color: var(--color-white);
}

ul {
  /* ul 스타일 제거 */
  list-style: none;
  padding-left: 0;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease;
  z-index: 3;
}

#navbar.navbar--dark{
  background-color: var(--color-orange);
  padding: 6px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 2px solid var(--color-white);
}

.navbar__menu__item:hover {
  color: var(--color-white);
  background-color: var(--color-dark-orange);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 27px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("imgs/background.png") center/cover no-repeat;
  padding: 50px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 2px var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
}

.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */

.about__majors {
  display: flex;
  justify-content: space-around;
  margin: 80px 0;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  color: var(--color-gray);
  line-height: 170px;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon :hover {
  color: var(--color-orange);
  transform: rotate(30deg) scale(1.2);
}

.major__ .major__title,
.major__description {
  color: var(--color-dark-gray);
}

.major__description {
  font-size: var(--font-small);
}

.education {
  display: flex;
  align-items: center;
}

.education__description {
  margin: 0 16px;
  text-align: left;
}

.education__name,
.education__period {
  color: var(--color-light-gray);
}

.education__name {
  font-size: var(--font-small);
}

.education__period {
  font-size: var(--font-micro);
}
.education__logo {
  width: 30px;
  height: 30px;
}

/* Skill */
#skills {
  background-color: var(--color-light-white);
}

.skillset {
  display: flex;
  background-color: var(--color-light-white);
  color: var(--color-white);
  margin: 20px;
}

.skillset__title {
  margin: 0;
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 32px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray);
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}
.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-gray);
}
.etc {
  background-color: var(--color-light-gray);
}
.tools,
.etc {
  padding: 30px;
}

/* Work */
.work__projects {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.project {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: var(--color-white);
  width: 350px;
  height: 700px;
}

.project__img {
  max-width: 350px;
  max-height: 700px;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: alll var(--animation-duration) ease;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  margin-left: -12px;
  margin-top: 8px;
  left: 50%;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);

  display: black;
}

/* Conteck */
#contack {
  background-color: var(--color-gray2);
  padding: 15px;

}


.contact__title {
  color: var(--color-white);
  font-size: var(--font-medium);
}

.contact__email{
  color: var(--color-white);
  ont-size: var(--font-medium);
  margin-bottom: 5px;
}

.contact__title {
  /* margin: 30px; */
}

.contact__links {
  font-size: var(--font-medium);
  animation: all var(--animation-duration) ease;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-orange);

}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
    align-items: center;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }


